<% if @restaurants.any? %>
  <% @restaurants.each do |restaurant| %>
    <h2> <%=  link_to restaurant.name, restaurant_path(restaurant) %></h2>
    <% if user_signed_in? %>
      <%= link_to edit_restaurant_path(restaurant) do %>
        <span class="glyphicon glyphicon-pencil"></span>
        <p class="anchor-text"><%= "Edit #{restaurant.name}" %></p>
      <% end %>
      <%= link_to  content_tag(:i,nil, :class=>"glyphicon glyphicon-remove"), restaurant_path(restaurant), method: :delete %><%= link_to "Delete #{restaurant.name}", restaurant_path(restaurant), method: :delete, class: "anchor-text" %>
    <% end %>
   <span class="thumbnail"><%= image_tag restaurant.image.url(:thumb) %></span>
    <%= truncate("#{restaurant.description}", length: 60) { link_to " read more", restaurant_path(restaurant) } %>
    <h3>Average rating: <%= star_rating(restaurant.average_rating) %></h3>
  <% end %>
<% else %>
  No restaurants yet
<% end %>
<% if user_signed_in? %>
  <%= link_to "Add a restaurant", new_restaurant_path %>
<% end %>


<!-- restricting deleting to users/owners, push to heroku? -->